//지정 폰트 웹 호스팅
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,500&family=Nanum+Myeongjo&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');



// 심벌 컬러

//기본
$black : #0000;

$softbrown : #a6908f;

//맨 아래 푸터 색깔
$footerbrown: #857473;